/* General resets & typography */
a {
  text-decoration: none;
  color: inherit; /* optional: keep color consistent */
}

a:hover {
  text-decoration: underline;
}

* {
    box-sizing: border-box;
  }
  
  html, body {
    overflow: visible;
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(0,0,0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif;

  }
  
  /* Links, buttons, inputs */
  a.centerBMAC, a.customize-unpreviewable, a.read-more, a.more-link {
    display: block;
    margin: 0 auto;
    text-decoration: underline;
    text-transform: none;
    font-weight: normal;
  }
  
  button, input[type=submit], input[type=button] {
    padding: 12px 20px;
    background: #161616;
    color: #fff;
    border: none;
    font-size: .9375rem;
    cursor: pointer;
  }
  

  