/* Site Navigation */
#site-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

}

#site-nav ul li a {
  display: block;
  line-height: 1.4;
  font-weight: 500;
  color: #363737;
  font-size: 120%;
  list-style: none;
}

#site-nav ul li a:hover {
  color: #161616 !important;
}

#site-nav ul li a:focus {
  color: #000000 !important;
}

#site-nav ul li.current-menu-item a,
#site-nav ul li.current_page_item a {
  color: #000000 !important;
}

.site-branding {
  display: flex;
  align-items: center;
  gap: 12px; /* spacing between image and text */
  text-decoration: none;
  color: inherit;
  justify-content: center;
  margin-bottom: 10px;
}

.site-icon {
  width: 80px; /* smaller size looks better next to text */
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.site-title {
  font-size: 1.8rem;
  margin: 0;
  font-family: 'Georgia', serif;
}


/* Site Title */
#site-title h1 a {
  display: inline-block;
  background: #161616;
  padding: 8px 8px 8px 12px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 100%;
}

.tagline {
  white-space: nowrap;
  font-size: 0.9rem;
  margin-top: -8px; 
  margin-bottom: 16px; 
  text-align: center;
  color: #555; 
}


/* Social Icons */

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
}

/* Style the Font Awesome icons inside the <a> */
.social-icons a i {
  font-size: 1.8rem;
  color: #000;
  transition: color 0.2s ease;
  text-decoration: none;
}

.social-icons a:hover i {
  color: #888;
  text-decoration: none;
}


  